---
const currentPath = Astro.url.pathname;
import sharedLink from '../assets/shared_link.json';
---

<header>
    <h1>
        <a href={`/${sharedLink.base}`}>Ora</a>
    </h1>
    

    <nav>
        <ul>
            <li><a href={`/${sharedLink.base}`} class={currentPath === '/' ? 'active' : ''}>Home</a></li>
            <li><a href={`/${sharedLink.base}/functionalities`} class={currentPath === '/functionalities' ? 'active' : ''}>Functionalities</a></li>
            <li><a href={`/${sharedLink.base}/team`} class={currentPath === '/team' ? 'active' : ''}>Team</a></li>
            <li><a href={`/${sharedLink.base}/contact`} class={currentPath === '/contact' ? 'active' : ''}>Contact</a></li>
        </ul>
    </nav>
</header>

<script>
    let lastScrollTop = 0;
    const header = document.querySelector('header');

    // Hide/show header au scroll
    window.addEventListener('scroll', () => {
        const scrollTop = window.scrollY;
        
        if (scrollTop > lastScrollTop && scrollTop > 100) {
            header?.classList.add('hide-header');
        } else {
            header?.classList.remove('hide-header');
        }
        
        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
</script>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 4px var(--shadow-color);
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s ease-in-out;
        z-index: 1000;
    }

    header.hide-header {
        transform: translateY(-100%);
    }

    h1 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: 700;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 500;
    }

    li > a:hover,
    li > a.active {
        color: var(--primary-color);
        text-decoration: underline;
        text-underline-offset: 4px;
    }
</style>