---
import Badge from "./UI/Badge.astro";
import Button from "./UI/Button.astro";
import ImageScreen from "./UI/ImageScreen.astro";
import default_logo from '../assets/default.png';


---

<section id="welcome">
	<div class="welcome-container">
		<div class="text-container">
			<Badge text="New V1.0"/>
			<h1>
				Optimisation <em>without compromise</em>
			</h1>

			<p>Velit nulla proident sunt ex ipsum id laboris quis qui incididunt ea. Aliqua cupidatat pariatur laboris deserunt ullamco enim tempor nulla aute dolor duis.</p>

			<div class="button-container">
				<Button title="See documentation" icon="fa-solid fa-newspaper" />
				<Button title="Contact us" icon="fa-solid fa-envelope" basic={false} href="/contact" internal_link={true}/>
			</div>
		</div>
	
		<div class="image-container">
			<div class="image-left">
				<span>
					<ImageScreen 
						image={default_logo}
						imageAlt="Feature 1"
						contentHeight="300px"
					/>
				</span>

				<span>
					<ImageScreen 
						image={default_logo}
						imageAlt="Feature 1"
						contentHeight="300px"
					/>
				</span>
			</div>

			<span>
				<ImageScreen 
					image={default_logo}
					imageAlt="Feature 1"
					contentHeight="550px"
				/>
			</span>

		</div>
	</div>
</section>

<style>
	#welcome {
		background: radial-gradient(circle, rgb(from var(--primary-color) r g b / 0.3) 0%, var(--background-color) 55%);
		min-height: 100%;
		height: auto;
	}

	.welcome-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		gap: 24px;
		max-width: 50%;
		margin: auto;
	}

	h1 {
		font-size: 4.5rem;
		margin: 0;
		line-height: 1;
	}

	p {
		color: var(--text-color-secondary);
		font-size: 1.2rem;
	}

	.button-container {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.image-container {
		width: 100%;
		display: grid;
		grid-template-columns: 1.5fr 1.2fr;
		gap: 20px;
		align-items: center;
		position: relative;
	}

	.image-left {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}

	.image-left span {
		width: 100%;
		transform: translateX(80px);
	}

	.image-container > span {
		width: 100%;
		transform: translateX(-80px);
		z-index: 10;
	}

	@media (max-width: 1024px) {
		.text-container {
			max-width: 100%;
		}

		.button-container {
			flex-direction: column;
			gap: 12px;
		}
	}
</style>